.footer{
    background-color:black;
}
.foot{
    display: flex;
    justify-content: space-between;
     padding-top: 2rem;
 
    
}
.foothr{
    width:40%;
}
.footimg{
    
}
.ficon{
    width:25%;
    display: flex;
    justify-content: space-between;
    margin:auto ;
    padding-bottom: 2rem;
}
.facebook{
    display: flex;
    justify-content: center;
    padding: .3rem;
    background-color:rgb(107, 105, 105);
    border-radius: 50%;
   
}
.facebook:hover{
    background-color: white;
}