
.ticket2{
    display: flex;
    justify-content:space-between;
    width: 20%;
    margin-top:1rem;

}
.date1{
    width: 10%;
    height: 2rem;
    /* border: 1px solid black; */
    padding: 1.2rem;
    background-color: red;
    color:white;
}
.date2 {
    width: 10%;
    height: 2rem;
    border: 1px solid black;
    padding: 1.2rem;
}
.tamil {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
 }
.tamil1 h1{
    color:white;
     margin-left: 1rem;
}
.bag{
    margin-top: 2rem;
    background-color: darkgrey;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: vh;

}
.the{
    background-color: white;
    padding : 2rem;
    margin: auto;
    padding-bottom: 3rem;
}
.theatormain{
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
    margin-top: 1rem ;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}
.timemain{
    display: flex;
    justify-content: space-between;
    width:35%;
    /* padding:2rem; */
}
.time{
   
    padding: .5rem;
    border:1px solid black;
}