
.ticket2{
    display: flex;
    justify-content:space-between;
    width: 20%;
    margin-top:1rem;

}
.date1{
    width: 10%;
    height: 2rem;
    /* border: 1px solid black; */
    padding: 1.2rem;
    background-color: red;
    color:white;
}
.date2 {
    width: 10%;
    height: 2rem;
    border: 1px solid black;
    padding: 1.2rem;
}
.tamil {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
 }
.tamil1 h1{
    color:white;
     margin-left: 1rem;
}
.bag{
    background-color: darkgray;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 1rem;
    
}
.book{
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
}
.t1{
    display: flex;
    justify-content: space-between;
    
}

.t2{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.time{
    width:100%;
    border: 1px solid black;
 
}
