
.ticket2{
    display: flex;
    justify-content:space-between;
    width: 20%;
    margin-top:2rem;

}
.date1{
    width: 10%;
    height: 2rem;
    /* border: 1px solid black; */
    padding: 1.2rem;
    background-color: red;
    color:white;
}
.date2 {
    width: 10%;
    height: 2rem;
    border: 1px solid black;
    padding: 1.2rem;
}
    .bag{
        
        height: 20vh;
        background-color: black;
    }