.bgimg{
    width:100%;
    height:100vh;
    background-size:cover ;
    background-repeat: no-repeat;
  
}
.movi{
    
    display: flex;
  
}
.moviename img{
    
    height:75vh;
    margin-top:4rem;
    margin-left: 3rem;

}

.moviebtn{
    display: flex;
    align-items: center;
   
}
.moviebut {
    margin-left: 3rem;   
}
.moviebut h2{
    color:white;
    font-size: 2rem;
}
.moviebut button{
    padding:1rem;
    border: 1px solid rgb(248, 68, 100);
    color: rgb(255, 255, 255);
    background-color: rgb(248, 68, 100);
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}