.carimg{
    display:flex;
   flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
    margin: auto;
    cursor: pointer;
}
.cards h2{
    margin-top:3rem;
    text-align: left;
}
.content{
    width: 20%;
}
